.numbBtn {
  outline: #b0a007 solid 1px;
  background-color: #fff;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-self: flex-end;
  font-size: 26px;
  font-weight: 800;
}
.numbBtn:hover {
  background-color: #b0a007;
  color: #fff;
}
.addAdminBtn {
  align-self: center;
}
.deptList {
  display: flex;
  justify-content: space-evenly;
  align-items: last baseline;
}
.deptBtnTools {
  font-size: 30px;
}

.editInput {
  background: #acacac;
  color: rgb(31, 31, 31);
}
.editInput::placeholder {
  color: #3d3d3d;
}
.table {
  background: #0287a2;
  color: #65686e;
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
  border-radius: 6px;
}
.typeOfRow {
  position: absolute;
  right: 0%;
  top: 0%;
  background-color: #333;
  margin: 0;
  padding: 0;
  width: 7px;
  height: 70px;
  border-radius: 0 6px 6px 0;
}
.sugg {
  background-color: #22bb33;
}
.complaint {
  background-color: #bb2124;
}
.headerRow {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 15px;
  border-bottom: #fff solid 2px;
  color: #fff;
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 700;
}
.row {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 15px;
  background-color: #86eafe;
  font-size: 20px;
  font-weight: 500;
  margin: 35px 0;
  border-radius: 6px;
}
.backBtn {
  font-size: 60px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.backBtn:hover {
  background-color: rgba(211, 211, 211, 0.8);
}
.backBtn i {
  position: relative;
  bottom: 18%;
}
.viewBtn {
  cursor: pointer;
}
