@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
  font-family: "Tajawal";
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

