


 /* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 800px ) { 
  /*width in medium screens*/
  .w_md_100 {
    width: 100% !important;
  }
  .w_md_75 {
    width: 75% !important;
  }
  .w_md_50 {
    width: 50% !important;
  }
  .w_md_25 {
    width: 25% !important;
  }
  .h_md_100 {
    height: 100dvh !important;
  }
  .h_md_0 {
    height: 0% !important;
  }
  .hideOnSmall {
    display: none !important;
  }
  .menuBtn{
    display: block !important;
  }
  /* End width in medium screens*/
 }

 /* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px){ 
  /*width in large screens*/
  .w_lg_100 {
    width: 100% !important;
  }
  .w_lg_75 {
    width: 75% !important;
  }
  .w_lg_50 {
    width: 50% !important;
  }
  .w_lg_25 {
    width: 25% !important;
  }
  /* End width in large screens*/
  .h_lg_50{
    height: 50% !important;
  }
  .form {
    height: 100%;
  }
  .infoForm{
    width: 432px;
  }

 }

 /* `xl` applies to large devices (desktops, min 1200px and up) */
@media (992px <= width  <= 3840px)  {
  /*width in large screens*/
  .w_xl_100 {
    width: 100% !important;
  }
  .w_xl_75 {
    width: 75% !important;
  }
  .w_xl_50 {
    width: 50% !important;
  }
  .w_xl_25 {
    width: 25% !important;
  }
  /* End width in large screens*/
  .h_xl_50{
    height: 50% !important;
  }
  /* 
    width for form sign in large screens
    */
    /*.form {
      width: 569px;
      /* height: 586px; 
    } */
    /* .infoForm{
      width: 432px;

    } */
 }



.contaner {
  background: #126c66;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.rowBackground {
  background: #126c66;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px white solid;
  padding: 10px;
}
.tvtc_logo{
  width: 21.875rem;
  height: 5rem;
}
.menuBtn{
  display: none;
}
.navbar {
  background-color: #126C66;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar .navList{
  list-style: none;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5%;
  margin: 0;
}
.navbar li{
  height: 63px;
}
.navbar a{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  color: #ffffff;
  /* padding: 15px; */
  border-radius: 6px;

}
.navbar a:hover{
  background-color: #005953;

}
.sidebar {
  list-style: none;

  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color:#126c66b1 ;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  
}
.sidebar a{
  width: 100%;
}

    

.text_nav {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
}

.log_btn {
  width: 144px;
  height: 41px;
  background: #a3d09d;
  border-radius: 25px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  border: 0;
}

.img_background_content {
  /* position: relative; */
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Tajawal';
  font-weight: 900;
  font-size: 18px;
  text-decoration-line: underline;
  color: #FFFFFF;
  position: relative;
  width: 100%;
  height: 586px;
}

.content_container{
  display:flex;
  flex-direction: column;
}


.rectangel {
  height: 109px;
  background: #126c66;
}


.under_rectaangle{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 100%;
  padding: 20px;
}

/* .content_under_rectangle {
  width: 15.313rem;
  height: 11.625rem;
  margin: 8px auto;
  background: #a3d09d;
  border-radius: 22px;
} */
  /* font-family: "Tajawal"; */
.content_under_rectangle{
  width: 15.313rem;
  height: 11.625rem;
  margin: 8px auto;
  background: #A3D09D;
  border-radius: 22px;

  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  font-size: 1.313;
  line-height: 1.438;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.footer_main {
  background-color: #126c66;
  text-align:center;
  color: #FFFFFF;
}
.footer_main{
  background-color: #126C66;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-bottom: 2px white solid;
}
.text_footer_2 {
  padding: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  /* font-family: "Tajawal"; */
  font-weight: 900;
  font-size: 14px;
  text-decoration-line: underline;
  color: #ffffff;
}
/* LOGIN FORM AND REGISTER */
.formBackground {
  opacity: 0.9;
  background-image: url("../Image/college_buliding.png");
  height: 100dvh;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}


.form {
  background-color: rgba(0, 121, 137,0.7);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px);
  border-radius: 0px 10px 10px 0px;
  color: #ffffff;
}
.form > h1{
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin: 10% 0%;
}


.infoForm{
  padding: 20px 20px 0 20px;
  padding-top:30px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   background-color: rgba(119, 206, 217, 0.737); 
   -webkit-backdrop-filter: blur(5px); 
   backdrop-filter: blur(5px);
  border-radius: 10px 0px 0px 10px;
  /* box-shadow: -5px 0px 5px 5px rgba(119, 205, 217,0.7); */
 /* height: 530px; */

}
.sub_header{
  display: block;
  background-color: #007989;
  text-align: center;
   padding: 7px 0;
  border-radius:6px ;
margin: 25px 30px;
}
.sub_header > h2{
  font-size: 22px;
  font-weight: 900;
  color: #ffffff;

}
.infoLogo{
  margin: 25px;
  margin-top: 10%;
  width: 350px;
}
.infoBoxImg{
  mix-blend-mode: multiply;
  border-radius:10px 10px 0 10px;
  box-sizing: border-box;
  width: 100%;
  height: 250px;
}
.infoBoxTitle{
  font-size: 20px;
  font-weight: 900;
  color: #3f3f3fde;
}
.registerBtnSpan{
  margin: 45px 0;
  display: block;
  /* padding: 10px; */
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #BE9A1A;
  border-radius: 6px;
}
.registerBtn{
 padding: 0px 30px; 
display: flex;
align-items: center;
height: 100%;
text-decoration: none;
color: white;
box-sizing: border-box;
background-color: #BE9A1A;
font-weight: 600;
}
.registerBtn:hover{
  background-color: transparent;
}
.colForm{
  margin: 25px 0;
}
.formInput{
  display: block;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 7px;
  padding-right: 30px;
  width: 100%;
  resize: vertical;
}
.formInput:focus{
  border: 2px solid #CFC67C;
 outline: none;
 color: black;
 font-size: 16px;
 font-weight: 600;
  box-shadow: #cfc57c81 0px 0px 3px 3px;
}
.formInput::placeholder{
  font-size: 12px;
  color: rgba(134, 154, 164, 0.60);
}
.formLabel{
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 800;
  line-height: 22px;
}

.submitBtn{
  background: #CFC67C;
border-radius: 6px;
width: 200px;
height: 46px;
outline: none;
border: none;
color: #FFFFFF;
font-weight: 800;
font-size: 18px;
}
.submitBtn:hover{
  background-color: #B0A007;
}

.linksLogin{
display: block;
margin-top: 0px;
margin-bottom: 35px;
}
.linksLogin > a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
color: rgba(0, 26, 255, 0.8);
}
.linksLogin > a:hover{
  text-decoration: underline;
  color: rgba(0, 26, 255, 1);
}
.selectForm{
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-top: 15px;
}
.titleSelect{
  display: block;
  margin: 0;
   cursor: pointer; 
   padding: 16px 0 16px 0; 
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-weight: 600;
}
.contentSelect{
  /* display: none; */
  position: absolute;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  margin-top: 5px;
  color: #000;
  font-weight: 600;
}
.formIcons{
   position: relative;
  top: 65px ;
  right: 10px; 
  height: 15px;
}

.formOption{
  cursor: pointer;
 
}
.formOption:hover{
  background-color: #B0A007;
}
.formOption:last-child{
  border-radius: 0 0 6px 6px;
}
.formOption:first-child{
  border-radius: 6px 6px 0 0;
}
/* Register pages */
.signupBackground{
  background: rgb(98,192,204);
background: linear-gradient(180deg, rgb(39, 124, 136) 44%, rgba(119,205,217,1) 100%);
 height: 100dvh;
}
.registerForm{
  background: #007989;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  border-radius: 10px;
}
.registerForm h1{
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
.registerLogo{
  width:400px; 
  height:90px;
  margin: 25px 0;
}
.timeLine{
  display: flex;
  position: relative;
}
.timeLineReg{
  width: 100%;
    height: 5px;
    background: #CFC67C;
   border-radius: 15px;
   position: absolute;
  top: 40%;
}
.stepForm{
  background-color: white;
  color: black;
  font-weight: 800;
  border: 2px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
  
/* contact design */
.suggestions{
  display: flex;
  flex-wrap: wrap;
  padding: 130px;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
}
.boxSuggestions{
  border-radius:0 15px 15px 0 ;
  background: rgba(119, 205, 217, 0.505);
  /* width: 889px; */
  height: 530px;

}
.contactWrap{
  padding-right: 40px;
  padding-left:40px ;
  
}
.wrapper{
  margin-top: 60px;
  margin-bottom: 140px;

}
.conInfo{
  border-radius:15px 0 0 15px ;
  padding: 0px;
  margin: 0px;
}
.conInfoShape{
  position: relative;
  width: 100%;
  height: 100%;
}
.conInfoShape_1{
  position: absolute;
  right: 50%;
  margin: 0px;
  padding: 0px;
  background-color: #36AFBF;
  width: 50%;
  height: 100%;
  border-radius:15px 0 0 15px ;

}
.conInfoShape_2{
  position: absolute;
  top: 10%;
  left: 0%;
  /* margin: 0px;
  padding: 0; */
  border-radius: 9px;
  background: #007989;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 80%;
  padding-right: 60px;
}
.conInfoShape_3{
  position: absolute;
  top: 5%;
  right: 15%;
  background: #36AFBF;
  width: 11%;
  height: 10%;
  border-radius: 9px;
}
.contactTitle{
  color: #007989;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 27px;
  margin-top: 25px;
}
.conInfoEle{
  height: 90%;
  color: #FFF;
  text-align: right;
}
.conInfoH3{
  color: #FFF;
  
}
.conListEle{
  display: inline-block;
  font-size: 19px;
  font-weight: 900;
  margin-bottom: 50px;
}
.conInfoP{
  font-size: 16.5px;
font-style: normal;
font-weight: 700;
padding: auto;
padding: 15px 0 0 0;
}
.conListIcon{
  height: 25px;
  margin-left: 30px;
}
 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
  /*width in small screens*/
  .w_sm_100 {
    width: 100% !important;
  }
  .w_sm_75 {
    width: 75% !important;
  }
  .w_sm_50 {
    width: 50% !important;
  }
  .w_sm_25 {
    width: 25% !important;
    /* End width in small screens*/
  }
 .formBackground {
   /* background-image: none;
   background-color: red; */
   height: 1200px;
 } 
 .infoLogo{
  width: 300px;
 }
 }
@media (max-width: 991.98px){ 
.boxSuggestions {
  border-radius: 15px 15px 0 0;
}
.conInfo{
  border-radius: 0 0 15px 15px;
}
.form,.infoForm{
  border-radius: 0px;
}
}

